{% load i18n %}
{% load static %}

<div class="form-container d-flex justify-content-center mb-3">
	<form id="searchFriends" class="d-flex" style='border-style: none; background-color: #2D3748;'>
		{% csrf_token %}
		<input id="friendName" class="form-control me-2 border-color" maxlength="20" minlength="3" type="search" placeholder='{% translate "Enter Friend Name" %}' aria-label="Search" style="border-radius: 10px;">
		<button id="searchbtn" class="btn" onclick="searchFriends()">{% translate "Search" %}</button>
	</form>
</div>
<div id="search-messages">
</div>

<table id="searchFriends-table" class="table table-borderless table-hover table-text">
	<thead>
		<tr>
			<th scope="col" class="colorfy avatar-text-table">{% translate "Avatar" %}</th>
			<th scope="col" class="colorfy">{% translate "Username" %}</th>
			<th scope="col" class="colorfy">{% translate "Profile" %}</th>
			<th scope="col" class="colorfy">{% translate "Add Friend" %}</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>

<script>
    function SearchFriendProfileEvent(event, url) {
        if (event.key === 'Enter') {
            event.preventDefault();
            showSection(url);
        }
    }
</script>
