<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>PONG</title>
	{% load static %}
	<link rel="icon" type="image/x-icon" href={% static "pong/img/game.svg" %}>
	<link href={% static "pong/css/style.css" %}  rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
	<script id='jsi18n' src="{% url 'javascript-catalog' %}"></script>
</head>
<script src={% static "pong/js/languages.js" %}></script>
<script src={% static "pong/js/signin.js" %}></script>
<script src={% static "pong/js/router.js" %}></script>
<script src={% static "pong/js/tournament.js" %}></script>
<script src={% static "pong/js/editAvatar.js" %}></script>
<script src={% static "pong/js/editUsername.js" %}></script>
<script src={% static "pong/js/friendsRequest.js" %} defer></script>
<script src={% static "pong/js/friends.js" %}></script>
<script src={% static "pong/js/game.js"%} defer></script>
<script src={% static "pong/js/multiGame.js"%} defer></script>
<script src={% static "pong/js/game_selection.js" %}></script>
<script src={% static "pong/js/searchFriends.js" %}></script>
<script src={% static "pong/js/events.js" %}></script>
